{% extends "root/base.html" %}

{% block content %}



<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-12">
                    <div class="slider_text text-center">
                        <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            
                        </div>
                        <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s">
                            
                        </div>
                        <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">2nd - 4th August 2024</span>
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">ANNUAL SISTERS RETREAT</h3>
                        <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Nasfat Youth Wing,  Lagos Zone 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="footer_widget">
                        <div class="address_details text-center">
                            <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">2nd - 4th August 2024</h4>
                            <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Nasfat Youth Wing, Lagos Zone 2 </h3>
                            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">There is no help except from Alah</p>
                            <a href="{{ url_for('register') }}" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}