<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Nasfat Confrence</title>
</head>
<body>
    <h1>Hello {{ user.first_name }} {{ user.last_name }},</h1>
    <p>Welcome to Nasfat Sisters Camp! We are excited to have you on board. You are now registered</p>

    <h2>Your Registration Details:</h2>
    <ul> <br>
        <li><strong>Email:</strong> {{ user.email }}</li> <br>
        <li><strong>Category:</strong> {{ user.category }}</li> <br>
        <li><strong>Registration PIN:</strong> {{ user.registration_pin }}</li> <br>
        <li><strong>Expectations:</strong> {{ user.expectations }}</li> <br>
        <li><strong>Payment Date:</strong> {{ user.payment_date }}</li> <br>
        <li><strong>Zone:</strong> {{ user.zone }}</li> <br>
        <li><strong>Branch:</strong> {{ user.branch }}</li> <br>
    </ul>

    <p>Thank you for joining us!</p>

    <p>Best regards,<br>
    Your Website Team</p>
</body>
</html>
