 {% extends 'admin/base.html' %}

{% block content %}
    <h2 class="m-3">Registered Users</h2>

     <!-- Search Form -->
     <!-- <form method="GET" action="{{ url_for('view_registered_users') }}" class="mb-3">
        <div class="row">
            <div class="col-md-3">
                <input type="text" name="branch" class="form-control" placeholder="Search by Branch" value="{{ branch_query }}">
            </div>
            <div class="col-md-3">
                <input type="text" name="gender" class="form-control" placeholder="Search by Gender" value="{{ gender_query }}">
            </div>
            <div class="col-md-3">
                <input type="text" name="category" class="form-control" placeholder="Search by Category" value="{{ category_query }}">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form> -->
        <a href="{{ url_for('download_registered_users', branch=branch_query, gender=gender_query, category=category_query) }}" class="btn btn-success mb-3">
        Download Delegates Data
        </a>
     <!-- <form method="GET" action="{{ url_for('view_registered_users') }}" class="mb-3">
        <div class="input-group">
            <input type="text" name="branch" class="form-control" placeholder="" value="">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form> -->

    <!-- <h2 class="m-3">Registered Users</h2> -->
    <table class="table table-success table-striped mt-4">
        <thead>
            <tr>
                <th>S/N</th> <!-- Serial Number Column -->
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <!-- <th>Zone</th> -->
                <th>Branch</th>
                <th>Gender</th>
                <th>Category</th>
                <th>Payment Date</th>
                <th>Payment Mode</th>
                <th>Expectations</th>
                <th>Registration Pin</th>
                <th>Manicure/Pedicure</th>
                <th>Facial/Hennan</th>
            </tr>
        </thead>
        <tbody>
            {% for user in registered_users.items %}
            <tr>
                <td>{{ loop.index + (registered_users.page - 1) * registered_users.per_page }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.number }}</td>
                <!-- <td>{{ user.zone }}</td> -->
                <td>{{ user.branch }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.category }}</td>
                <td>{{ user.payment_date }}</td>
                <td>{{ user.payment_mode }}</td>
                <td>{{ user.expectations }}</td>
                <td>{{ user.registration_pin }}</td>
                <td>{{ user.massage }}</td>
                <td>{{ user.teeth }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination justify-content-center">
        <span class="badge badge-light">
            Page {{ registered_users.page }} of {{ registered_users.pages }}
        </span>
        {% if registered_users.has_prev %}
            <a href="{{ url_for('view_registered_users', page=registered_users.prev_num) }}" class="btn btn-sm btn-primary">Previous</a>
        {% endif %}
        {% if registered_users.has_next %}
            <a href="{{ url_for('view_registered_users', page=registered_users.next_num) }}" class="btn btn-sm btn-primary">Next</a>
        {% endif %}
    </div>

{% endblock %}
